body {
  font-family: Monospace;
  background-color: #f0f0f0;
  margin: 0px;
  overflow: hidden;
}

#oldie { background-color: #ddd !important }

#info, #delete, #color {
  position: absolute;
  top: 0;
  padding: 10px;
}

#color {
  right: 100px;
  width: 60px;
  height: 16px;
}

#custom_color {
  padding: 0;
  margin: 0;
  border: 0;
  width: 60px;
  height: 16px;
}

#info {
  left: 0;
}

#delete {
  width: 50px;
  right: 0;
}

#delete:hover {
  background-color: #aeaeae;
}

.hide {
  display: none;
}
